.dark_messenger_communizi_container {
    display: block;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 95%;
}

.dark_messenger_title {
    border-radius: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 100%;
    padding-left: 40%;
}

.communizi-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 84vh;
}

.communizi_notebox {
    max-height: 70vh;
    padding: 1%;
}

.communizi_form {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 1vh;
}

.communizi_form_input_div {
    position: absolute; 
    bottom: 0;
    left: 0; 
    width: 100%; 
    padding: 3%;
}

.communizi_form_input_container {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 93%;
    padding-left: 2vw;
    padding-top: 2vh;
}

.communizi-button-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    padding-right: 2vw;
}

.communizi-file-button {
    width: 20%;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px)
}

.communizi-send-button {
    width: 1.5rem;
    cursor: pointer;
}


#dark_message_note {
    width: 98%;
    background-color: #ECECEC;
    border-radius: 20px;
}

#dark_message_contact {
    width: 98%;
    background-color: #ECECEC;
    border-radius: 20px;
}

#dark_story {
    width: 98%;
    z-index: 5;
}

.moodList {
    display: none;
}

.moodListIcon {
    width: 5%; 
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1vh;
}

.moodListIcon:hover {
    width: 6%;
}

.communizi_form_footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dark_nav_icons {
    width: 3vw;
    cursor: pointer;
    filter: grayscale(100%)
}

.dark_nav_icons:hover {
    filter: none;
}

#communIzi {
    margin-left: 5vw;
}

.darkDrawer {
    display: none;
}

.darkDrawer_list {
    width: 250;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;

}

.darkDrawer_fullList{
    width: 25vw;
    background-color: black;
    color: lightgrey;
    height: 100%;
    border: 1px solid black;

}

.darkDrawer_title {
    text-align: center;
}

.darkDrawer_listIcons {
    display: flex;
    flex-flow: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.darkDrawer_listIcons2 {
    display: flex;
    flex-flow: column;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}

.darkDrawer_icons {
    width: 8%;
}

.fom-icon {filter: invert();
}

#darkDrawer_icons2 {
    margin-top: 3vh;
    font-size: 50px;
    margin-left: 7vw;
}



@media screen and (max-width: 768px) {
    .dark_messenger_communizi_container {
        display: block;
        width: 100vw;
    }

    .communizi-container {
        width: 100%;
        height: 75vh
    }

    .communizi_notebox {
        height: 60vh;
        max-height: 60vh;
        margin-bottom: 0vh;
    }

    .communizi_input_note {
        width: 98vw;
        height: 6vh;
        margin-bottom: 0vh;
        margin-top: 2vh;
    }

    .dark_messenger_title {
        padding-left: 0%;
        text-align: center;
    }

    .communizi_form_input_container {
        width: 90%;
        margin-top: 1vh;
        position: sticky;
        padding-top: 0;
    }

    .communizi-button-container {
        width: 10%;
        justify-content: space-around;
        margin-bottom: 2vh
    }

    .communizi-file-button {
        width: 5vw;
        filter: drop-shadow(2px 2px 2px)
    }
    
    .communizi-send-button {
        width: 6vw;
    }

    #dark_noteButton {
        width: 98vw;
        margin-bottom: 1vh;
    }

    .menu{
        visibility: visible;
    }

    .nav_container {display: none;}

    .darkDrawer {
        display: block;
        height: 10vh;
        position: absolute;
        top: 2%;
        left: 2vw;
    }
    
}