.darkTextUser{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    height: auto;
    padding: 2%;
    position: relative;
}

.darkTextBodyUser{
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: flex-end;
    max-width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px);
    margin-right: 3vw;
}

.darkTextOther{
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 2%;
    position: relative;
}

.darkTextBodyOther{
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 80%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(123, 22, 22);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px);
    margin-right: 3vw;
    margin-left: 3vw;
}

.oldDarkTextUser{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    height: auto;
    padding: 2%;
}

.oldDarkTextBodyUser{
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: flex-end;
    max-width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(33, 35, 39);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px) grayscale();
    margin-right: 3vw;
}

.oldDarkTextOther{
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 2%;
}

.oldDarkTextBodyOther{
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 80%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(67, 66, 66);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px) grayscale();
    margin-left: 3vw;
}

.user_avatar_chat_label {
    font-weight: bolder; 
    color: black;
    margin-right: 6%;
}

.old_user_avatar_chat_label {
    font-weight: bolder; 
    color: gray;
    margin-right: 6%;
}

.customer_avatar_chat_label {
    font-weight: bolder; 
    color: black;
    margin-left: 6%;
}

.customer_old_user_avatar_chat_label {
    font-weight: bolder; 
    color: gray;
    margin-left: 6%;
}


.avatar_chat {
    display: flex;
    width: 1.5em !important;
    height: 1.5em !important;
    position: absolute !important;
    filter: drop-shadow(1px 1px 1px) !important;
    top: 0;

}

.old_avatar_chat {
    display: flex;
    width: 1.5em !important;
    height: 1.5em !important;
    position: absolute !important;
    filter: drop-shadow(1px 1px 1px) !important;
    filter: grayscale(90%) drop-shadow(1px 1px 1px) !important;
    top: 0;
}

.support-scrollbar {
    height: 60vh !important;
    width: 100% !important;
}

@media screen and (max-width: 1023px) {
    .user_avatar_chat_label {
        margin-right: 3em;
        margin-bottom: 1vh;
    }
    
    .old_user_avatar_chat_label {
        margin-right: 3em;
        margin-bottom: 1vh;
    }
    
    .customer_avatar_chat_label {
        margin-left: 3em;
        margin-bottom: 1vh;
    }
    
    .customer_old_user_avatar_chat_label {
        margin-left: 3em;
        margin-bottom: 1vh;
    }
    
    
    .avatar_chat {
        top: 2%;
    }
    
    .old_avatar_chat {
        top: 2%;
    }
}
