.checkList_title {
    text-align: center;
    color: white;
}

.checkList_input {
    width: 80%;
}

.checkList_allSelected_button {
    margin-bottom: 2vh;
    width: 100%;
}

.nav-link {
    margin-inline: 2px;
    color: black;
}

.nav-link:hover {
    color: #B8860B;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: black !important;
    color: #B8860B;
}