/* ---------- LET'S CODE NOW !!! ------- */

/* *{border: 1px solid black;} */

#gatsby-focus-wrapper {
    overflow: hidden;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    left: -2vw;
    width: fit-content;
}

.MuiFormLabel-root {
    width: max-content;
}

.MuiInputBase-root {
    margin-top: 4vh;
}

*{outline: none;}

.modal-90w {width: 90vw}

.msh-bg {
    background-color: #B8860B;
}

.msh-bg-dark {
    background-color: black;
    color: #B8860B;

}

.msh-color {
    color: #B8860B;
}

.btn-msh {
    background-color: #B8860B; /* ton gold */
    border-color: #B8860B;
    color: black;
}
  
.btn-msh:hover,
.btn-msh:focus,
.btn-msh:active {
background-color: #a17308;
border-color: #a17308;
color: white;
}

.btn-msh-outline {
    border: 1px solid #B8860B; /* ton gold */
    color: #B8860B;
    text-decoration: none;
}

.btn-msh-outline:hover,
.btn-msh-outline:focus,
.btn-msh-outline:active {
background-color: #a17308;
border-color: #a17308;
color: white;
}

.btn-msh-dark {
    background-color: black; 
    border-color: black; 
    color: #B8860B;
}
  
.btn-msh-dark:hover,
.btn-msh-dark:focus,
.btn-msh-dark:active {
background-color: #a17308;
border-color: #a17308;
color: black;
}

.btn-msh-dark-outline {
    background-color: white; 
    border-color: black; 
    color: black;
}
  
.btn-msh-dark-outline:hover,
.btn-msh-dark-outline:focus,
.btn-msh-dark-outline:active {
background-color: black;
border-color: black;
color: #a17308;
}

/*Perfectscrollbar*/

.chat-perfectscrollbar {
    width: 100% !important;
}

tbody, td, tfoot, th, thead, tr {
    vertical-align: baseline;
    white-space: normal;
    min-width: 120px;
}

@media screen and (min-width:768px){
    .isShowDesktop {
        display: flex;
    }
}

@media screen and (max-width:768px){
    .isShowMobile {
        display: flex;
    }

    .table-striped>tbody>tr {
        text-align: center;
    }
}
