/* ---------- LET'S CODE NOW !!! ------- */

/*{border: 1px solid black;}*/

*{outline: none;}

.modal-90w {width: 90vw}


/*Perfectscrollbar*/

.chat-perfectscrollbar {
    width: 100% !important;
}

tbody, td, tfoot, th, thead, tr {
    vertical-align: baseline;
}

@media screen and (min-width:768px){
    .isShowDesktop {
        display: flex;
    }
}

@media screen and (max-width:768px){
    .isShowMobile {
        display: flex;
    }
}
