.phone_container {
    display: flex;
    flex-flow: column;
    padding: 5%;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.phone_container_drawer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5%;
    margin-bottom: 6vh;
}

.phone_title {
    margin-bottom: 3vh;
    text-align: center;
    border-bottom: 1px solid #B8860B;
}

.phone_tab {
    border-bottom: 1px solid #B8860B;
    margin-bottom: 3vh;
}

.phone_calendar_container .MuiFormControl-root {
    height: 53px;
    margin-bottom: 3vh;
    justify-content: end;
}

.phonePage_select {
    width: 90vw;
    height: 58px;
    border: 1px solid lightgrey; 
    border-radius: 3px;
    background-color: white;
    padding-inline: 1vw;
}

.phone_input {
    width: 90vw;
}

.phone_smallInput {
    width: 40vw;
}

.phone_textarea {
    width: 90vw;
    margin-bottom: 3vh;
    height: 10vh;
    max-height: 15vh;
}


.phone-table {
    width: 50px !important;
    overflow-x: scroll;
}

.phone-camera-icon{
    position: absolute; 
    /* width: 40%;
    height: 5vh; */
    width: 100%;
    height: 100%;
    z-index: 5;
    /* left: 20%;  */
    opacity: 0;
    cursor: pointer;
    /* margin-left: 7vw; */
    border: 1px solid black;
}

/*PhoneCheckList.js*/

.phoneCheckList_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
}

/*PhoneSupport*/

.assistance-scrollbar {
    height: 75vh !important;
    padding-top: 3vh;
}

/*MSH Buttons */

.btn-msh {
    background-color: #B8860B; /* ton gold */
    border-color: #B8860B;
    color: black;
}
  
.btn-msh:hover,
.btn-msh:focus,
.btn-msh:active {
background-color: #a17308;
border-color: #a17308;
color: white;
}



.btn-msh-outline {
    border: 1px solid #B8860B; /* ton gold */
    color: #B8860B;
    text-decoration: none;
}

.btn-msh-outline:hover,
.btn-msh-outline:focus,
.btn-msh-outline:active {
background-color: #a17308;
border-color: #a17308;
color: white;
}

.phone_submitButton_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.phone_return {
    width: 90vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.phone_submitButton {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vh;
    border-radius: 0;
}

